{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {# 
     <div class="form-group">
        {{ form_label(form.maxParticipants, "Nombre maximum de participants", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.maxParticipants) }}
        <div class="col-sm-10">
            {{ form_widget(form.maxParticipants, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
        <legend class="control-label col-sm-2 pt-0">{{ form_label(form.types, "Types") }}</legend>
        <div class="col-sm-10">
            <div class="form-check">
            {{ form_widget(form.types, {'attr': {'class': 'checkbox-inline'}}) }}
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        {{ form_label(form.startTime, "Nombre maximum de participants", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.startTime) }}
        <div class="col-sm-10">
            {{ form_widget(form.startTime) }}
        </div>
    </div>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_rest(form) }}
#}
    {# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}