{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}
     {{ form_widget(form) }}

{#
    <div class="form-group">
        {{ form_label(form.name, "", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-6">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.acronym, "", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.acronym) }}
        <div class="col-sm-6">
            {{ form_widget(form.acronym, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.number, "", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.number) }}
        <div class="col-sm-6">
            {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.region, "", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.region) }}
        <div class="col-sm-6">
            {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_rest(form) }}
#}
    {# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}