{% extends 'base.html.twig' %}

{% block title %}{{ club.name }} !{% endblock %}

{% block body %}

    <section>
        <h1>{{ club.name }}</h1>

        <article>
            <h3>Liste des membres</h3>

            <ul>
            {% for member in club.members %}
                <li>{{ member.registrationNumber }} - {{ member.archer.fullname }}</li>
            {% else %}
                <li>Pas de members.. :'(</li>
            {% endfor %}
            </ul>

            <a href="{{ path("club.add.affiliate", {'club': club.id}) }}"><span class="btn btn-primary">Ajouter un archer</span></a>
        </article>
        <article>
            <h3>Région</h3>
            <p>{{ club.region.name }}</p>
        </article>
    </section>
{% endblock %}