{% extends 'base.html.twig' %}

{% block title %}Peloton !{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    <h1>Participants <a href="{{ path('participant.add', {'tournament': peloton.tournament.id, 'peloton': peloton.id}) }}"><span class="btn btn-primary">Ajouter un participant</span></a></h1>
    
    <p>Nombre de particpants : <i class="badge">{{ peloton.participants | length }} / {{ peloton.maxparticipants }}</i></p>

    <table class="table table-striped">
        <tr>
            <th>FullName</th>
            <th>Points</th>
            <th>X</th>
            <th>10</th>
        </tr>
        <tr>
        {% for participant in peloton.participants %}    
            <td>{{ participant.archer.fullname }}</td>
            <td>{{ participant.points }}</td>
            <td>{{ participant.numberofx }}</td>
            <td>{{ participant.numberoften }}</td>
        {% else %}
            <td colspan="4">Aucun participant pour l'instant</td>
        {% endfor %}
        </tr>
    </table>

    <a href="{{ path('tournament.show', {'tournament': peloton.tournament.id}) }}"><span class="btn btn-primary">Retour à la compétition</span></a>
{% endblock %}
