{% extends 'base.html.twig' %}

{% block title %}Peloton !{% endblock %}

{% block body %}
    <h1>Participants <a href="{{ path('participant.add', {'tournament': peloton.tournament.id, 'peloton': peloton.id}) }}"><span class="btn btn-primary">Ajouter un participant</span></a></h1>
    
    Nombre de particpants : {{ peloton.participants | length }}

    <table class="table table-striped">
        <tr>
            <th>FullName</th>
            <th>Points</th>
            <th>X</th>
            <th>10</th>
        </tr>
        <tr>
        {% for participant in peloton.participants %}    
            <td>{{ participant.archer.fullname }}</td>
            <td>{{ participant.points }}</td>
            <td>{{ participant.numberofx }}</td>
            <td>{{ participant.numberoften }}</td>
        {% else %}
            <td>Aucun participant pour l'instant</td>
        {% endfor %}
        </tr>
    </table>
{% endblock %}